/*
*
* @author Washington Júnior
* @version 0.1
*/

/* ********** PALETA DE CORES **********

- Branco: #ffffff; rgb(255,255,255)
- Preto:
    #000000; rgb(0,0,0)
    #322f3a; rgb(50,47,58)
    .bg-dark: #343a40; rgb(52,58,64)
- Laranja: #f35f19; rgb(243,95,25)
- Cinza:
    #ededed; rgb(237,237,237)
    #f5f5f5; rgb(245,245,245)
    #ececec; rgb(236,236,236)
    .text-muted #6c757d; rgb(108,117,125)

*/

body {
  color: #343a40;
}

/* ********** NAVIGATION BAR ********** */

.menu-toggle {
  position: fixed;
  right: 15px;
  top: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
  z-index: 999;
}

.menu-toggle:hover {
  background: #343a40;
  color: #f35f19;
}

#sidebar-wrapper {
  position: fixed;
  z-index: 2;
  right: 0;
  width: 250px;
  height: 100%;
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transform: translateX(250px);
  -webkit-transform: translateX(250px);
  background: #6c757d;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar-wrapper.active {
  right: 250px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
}

.sidebar-nav, .sidebar-nav ul {
  list-style: none;
}

.sidebar-nav li a {
  text-decoration: none;
  color: #fff;
}

.sidebar-nav li a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav > .sidebar-brand {
  font-size: 1.2rem;
  background: rgba(52, 58, 64, 0.1);
  height: 80px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.sidebar-nav > .sidebar-brand a:hover {
  background: none;
}

.sidebar-nav li.sidebar-nav-item a {
  display: block;
  padding: 15px;
}

/* ********** HEADER ********** */

header {
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  position: relative;
}

.img-profile {
  width: 200px;
  height: 200px;
  border: 7px solid #322f3a;
}

/* md >= 768px */
@media screen and (min-width: 768px) {
  .info-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding-left: 10px;
  }
}

.info-card h1, .info-card h4, .card-body h4, #bar-portfolio h4, h2 {
  font-weight: bold;
}

.list-icons {
  font-size: 2.5rem;
}

header a, footer a {
  color: #fff;
}

header a:hover, footer a:hover, #recursos .list-icons i:hover {
  text-decoration: none;
  color: #f35f19;
}

#bar-portfolio {
  position: absolute;
  left: 50%;
  bottom: -16px;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%,0%);
}

#bar-portfolio h4, .btn-tertiary, .btn-tertiary:focus {
  border: 0;
  font-weight: 700;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
  color: #343a40;
  background-color: #fff;
}

#bar-portfolio h4 {
  padding: .375rem .75rem;
  border-radius: .25rem;
}

/* ********** PORTFOLIO SECTION ********** */

#portfolio {
  padding-top: 30px;
}

/* ********** PORTFOLIO-WEBSITES AND PORTFOLIO-GAMES SECTIONS ********** */

h2 {
  margin-bottom: 30px;
}

hr {
  border-top: 3px solid #343a40;
}

.divider-primary {
  width: 200px;
  float: left;
}

.divider-secondary {
  max-width: 50%;
}

.portfolio-item {
  margin-bottom: 30px;
}

.portfolio-item .card {
  border: 1px solid #ededed;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
  background: #f5f5f5;
}

.portfolio-item .card .link-img {
  transition: all 0.2s ease-in-out;
}

.portfolio-item .card .link-img:hover {
  opacity: 0.7;
}

.portfolio-item .card .card-body {
  padding: 1.5rem 1.5rem 0;
}

.portfolio-item .card .card-footer {
  padding: 0.75rem 1.5rem 1.5rem;
  border: 0;
  background: 0 0;
}

.btn-tertiary, .btn-tertiary:focus {
  transition: all 0.15s ease-in-out;
}

.btn-tertiary:hover {
  color: #343a40;
  background-color: #ececec;
}

.portfolio-item .card .card-footer .btn-tertiary {
  font-size: 11px;
}

.portfolio-item .card .card-footer i {
  margin-right: 3px;
}

/* ********** RECURSOS SECTION ********** */

#recursos {
  padding-bottom: 30px;
}

.list-tags li {
  color: #fff;
  background-color: #343a40;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 5px;
  font-weight: bold;
  cursor: default;
}

.list-tags li:hover {
  background-color: #f35f19;
}

/* ********** FOOTER ********** */